<!doctype html>
<html lang="en">
    <?php includePart('../parts/head.html', ['title' => $title]) ?>

    <body class="min-h-screen">
        <div
            x-data="app()"
            x-init="init()"
            class="max-w-2xl mx-auto px-4 py-6 sm:py-10"
        >
            <?php includePart('../parts/header.html'); ?>

            <main class="container max-w-(--breakpoint-lg) mx-auto px-8 py-8">
                <?= $content ?>
            </main>
        </div>

        <?php includePart('../parts/footer.html') ?>
    </body>
</html>
